@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    background-color: var(--background-color);
    text-align: center;
    padding: 0.1rem;
}

.header-content{

    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 6rem;
    padding: 0.5rem;
}
.logo_icon{
    height: 2rem;
}
.logo{
    height: 6rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #333333;
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
    align-items: center;

}
.navbar{

    min-height: 3rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: bold;
}

.features{
    color: #555;
}
.features:hover{
    color: #333333;

}
#Contact{
    height: 2.9rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: #f0f0f0;
    font-size: 1.1rem;
    font-weight: bolder;
    border-radius: 10px;
}
#Contact:hover{
    background-color: #4d4fbd;
    transform: scale(1.001);
}
.menu-button{
    display: none;

}
.menu-icon{
    height: 2.8rem;
    width: 2.8rem;
}

@media screen and (max-width:830px){
    .navbar{
        display: none;
    }
    #Contact{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
.content{
    margin-top: 4rem;
    padding: 0.5rem;
}
#hero-img{
    height: 33rem;
    width: 33rem;
    border-radius: 20px;
    overflow: hidden;
}
#main{
    margin: auto;
    max-width: 1280px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.left{
    padding: 1.2rem;
    max-width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: self-start;
    animation: slideIn 2s ease-out ;

}
@keyframes slideIn{
        from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.right{
    margin: auto;
    animation: slideInRight 2s ease-out ;
}
@keyframes slideInRight{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.content-heading{
    font-size: 3rem;
    display: flex;
    text-align: left;
}
.intro{
    color: #4d4fbd;
    font-weight: bold;
}
.content-para{
    text-align: left;
    color:#555 ;
    font-weight: 500;
}
.buttons{
    
    width: 17rem;
    display: flex;
    justify-content: space-between;
}
.content-buttons{
    height: 2.8rem;
    width: 8rem;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
}
#start{
    background-color: var(--primary-color);
}
#tour{
    background-color: var(--dark-gray);
}
#start:hover{
    background-color:#33347e;
}
#tour:hover{
    background-color:#181818;
}
@media screen and (max-width:885px){
    #main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .left{
        border: 1px black solid;
        max-width:80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
    }

}