@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    background-color: var(--background-color);
    text-align: center;
    padding: 0.1rem;
}

.header-content{

    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 6rem;
    padding: 0.5rem;
}
.logo_icon{
    height: 2rem;
}
.logo{
    height: 6rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #333333;
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
    align-items: center;

}
.navbar{

    min-height: 3rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: bold;
}

.features{
    color: #555;
}
.features:hover{
    color: #333333;

}
#Contact{
    height: 2.9rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: #f0f0f0;
    font-size: 1.1rem;
    font-weight: bolder;
    border-radius: 10px;
}
#Contact:hover{
    background-color: #4d4fbd;
    transform: scale(1.001);
}
.menu-button{
    display: none;

}
.menu-icon{
    height: 2.8rem;
    width: 2.8rem;
}

@media screen and (max-width:830px){
    .navbar{
        display: none;
    }
    #Contact{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
.content{
    margin-top: 4rem;
    padding: 0.5rem;
}
#hero-img{
    height: 33rem;
    width: 33rem;
    border-radius: 20px;
    overflow: hidden;
}
#main{
    margin: auto;
    max-width: 1280px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.left{
    padding: 1.2rem;
    max-width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: self-start;
    animation: slideIn 2s ease-out ;

}
@keyframes slideIn{
        from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.right{
    margin: auto;
    animation: slideInRight 2s ease-out ;
}
@keyframes slideInRight{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.content-heading{
    font-size: 3rem;
    display: flex;
    text-align: left;
}
.intro{
    color: #4d4fbd;
    font-weight: bold;
}
.content-para{
    text-align: left;
    color:#555 ;
    font-weight: 500;
}
.buttons{
    
    width: 17rem;
    display: flex;
    justify-content: space-between;
}
.content-buttons{
    height: 2.8rem;
    width: 8rem;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
}
#start{
    background-color: var(--primary-color);
}
#tour{
    background-color: var(--dark-gray);
}
#start:hover{
    background-color:#33347e;
}
#tour:hover{
    background-color:#181818;
}
@media screen and (max-width:885px){
    #main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .left{
        
        max-width:80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
    }

}

.company{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

}
.company h1{
    font-weight: bolder;
    color: #181818;
}
.company-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4.3rem;
    width: 10rem;
    color: #555;
}
.icon{
    height: 2.3rem;
    width: 2.3rem;
}
#Google{
    grid-area: G;
}
#Microsoft{
    grid-area: M;
}
#LinkedIn{
    grid-area: L;
}
#VectorEdu{
    grid-area: V;
}
.company-grid{
    display: grid;
    grid-template-areas: " G M L V";
    background-color:rgba(206, 206, 206, 0.534);
    border-radius: 10px;
    
}
@media screen and (max-width:725px){
    .company-grid{
        grid-template-areas: "G M"
                             "L V";
    }
}

.feature-container{
    margin-top: 5rem;
    padding: 5rem;
    background-color:rgba(206, 206, 206, 0.534) ;
    display: flex;
    justify-content: center;
}
.feature-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    
    max-width: 52rem;
    padding: 1rem;
}
.icon-container img{
    height: 3.3rem;
    width: 3.3rem;
}
.icon-container{
    height: 3.3rem;
    width: 3.3rem;
    background-color: #f0f0f0;
    border-radius: 2rem;
    padding: 0.5rem;
    
}
.feature-card{
    
    height: 12rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:2rem 0 2rem 0 ;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 5px black ;

}
.feature-info{ 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 0.5rem;
    color: #f0f0f0;
}
.feature-title{
    font-size: larger;
    font-weight: bolder;
}
#card1{
    grid-area: a;
    background-color: rgb(31, 79, 212);
}
#card2{
    grid-area: b;
    background-color:rgb(255, 16, 96) ;
}
#card3{
    grid-area: c;
    background-color:rgb(255, 196, 0) ;
}
#card4{
    grid-area: d;
    background-color: rgb(0, 183, 255);
}
#card5{
    grid-area: e;
    background-color: green;
}
#card6{
    grid-area: f;
    background-color: var(--primary-color);
}
.feature-grid{
    display: grid;
    gap: 2rem;
    grid-template-areas: 
    "a b"
    "c d"
    "e f"   
    ;
}
.main-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.4rem;
    align-items: center;
}
.main-title{
    font-size: 2rem;
    font-weight: bolder;
}
.main-description{
    color: #555;
    font-weight: 800;
}
@media screen and (max-width:795px ){
    .feature-grid{
        display: grid;
        gap: 2rem;
        grid-template-areas: 
        "a "
        "b"
        "c"
        "d"
        "e"
        "f"
        ;
    }
}
.testimonial-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: auto;
}
.testimonial-content{   
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem;
    align-items: center;
}
#p1{
    grid-area: X;
}
#p2{
    grid-area:Y;
}
#p3{
    grid-area: Z;
}
.testimonial-grid{
    max-width: 100%;
    display: grid;
    grid-template-areas: 
    "X Y Z"
    ;
    gap: 1rem;
}
.testimonial-avatar img{
    height: 5.5rem;
    width: 5.5rem;
}
.testimonial-card{
    height: 15rem;
    width: 24rem;
    box-shadow: #9e9e9e 0.5px 0.5px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
}
.testimonial-card:hover{
    transform: scale(1.05);;
    box-shadow: 0 4px 8px rbga(0,0,0,0.2);
    border: 1px solid rgb(0, 89, 255);
}
.testimonial-text{
    color: #555;
    font-weight: 500;
}

.testimonial-desc{
    color: #555;
    font-weight: 500;
}
.testimonial-name{
    color: #14349c;
}
.testimonial-title{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #181818;
}
@media screen and (max-width:1600px){
    .testimonial-grid{
            grid-template-areas: 
    "X"
    "Y"
    "Z"
    ;
    }
}
.news-left{
    height: 90%;
    width: 50%;
    
    padding: 1rem;

}
.news-left img{
    height: 99%;
    width: 99%;
    border-radius: 20px;
}
.newsletter-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter-content{
    
    max-width: 80%;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(206, 206, 206, 0.534);
    border: rgba(206, 206, 206, 0.534) 1px solid;
    border-radius: 10px;
}
.news-right{
    
    height: 15rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}
.news-send-button{
    height: 2.9rem;
    width: 6.2rem;
    border-radius: 7px ;
    background-color: #5e60dd;
    color: #f0f0f0;
    font-size: large;
    font-weight: bolder;
    border: #5e60dd;
    box-shadow: #9e9e9e 0.5px 0.5px 3px;

}
.news-email {
    height: 2.8rem;
    width: 13rem;
    border-radius: 5px ;
    border: #9e9e9e 1px solid;
    font-size: large;
    font-weight: bolder;
}
.news-send-button:hover{
    background-color: #4d4fbd;
    transform: scale(1.01);
}
.news-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start;
}
.news-title{
    font-size: 2.5rem;
    color:var(--primary-color);
    font-weight: bolder;
}
.news-desc{
    color: #555;
    font-weight: 400;
}
.privacy-policy{
    font-size: 0.897rem;
    color: #555;
}
.news-link{
    color: #2563eb;
}
.news-link:hover{
    color: #33347e;
}
@media screen and (max-width:1220px) {
    .newsletter-content{
        display: flex;
        flex-direction: column;

    }
    .news-left{
        width: 90%;
    }
}

.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding:1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-svg{
    width: 2rem;
    height: 6rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
}
.social{
    display: flex;
    gap: 0.8rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
}

ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}

@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    .footer-top{
        padding-left: 1rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
